body {
    background-color: rgb(189, 220, 127);
}

body table {
    font: center;
    margin-top: 60px;
    background-color: aquamarine;

}

body td {

    font: center;
    font-size: 25px;
}

body td button {

    font: center;
    font-size: 25px;
    margin-left: 70px;
}

body td input {
    font: center;
    font-size: 25px;

}
