/* Tambahkan gaya tambahan di sini */

body {
    background-color: #f8f9fa; /* Warna latar belakang */
}

.jumbotron {
    background-color: #007bff; /* Warna biru */
    color: #ffffff; /* Warna teks putih */
}

.list-group-item {
    cursor: pointer;
}
