.name {
    font-weight: bold;
    font-size: 20px;
    padding: 2px;
    margin-bottom: 10px;
}

.sadar {
    font-family: icon;
    font-style: italic;
    margin-top: 30px;
}

.sadar p1 {
    font-size: 20px;
}

.sadar p2 {
    font-size: 40px;
}

.sadar p3 {
    font-size: 15px;
}

img {
    width: 9%;
    height: auto;
    margin-top: auto;
    margin-bottom: 70px;
    margin-left: 10px;
    float: left;
}

.judul {
    color: #0f0f0f;
    font-size: 20px;
    text-align: center;
    background-color: rgb(69, 188, 228);
    margin-bottom: 5px;
    clear: left;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table tr {
    border: 2px solid;
}

table th {
    border: 2px solid;
    background-color: rgb(202, 199, 164);
    text-align: center;
}

table tr td {
    text-align: center;
    background-color: rgb(241, 206, 232);
    border: 2px solid;
}

th,
td {
    padding: 8px;
}

table td a:hover {
    background-color: #be9abd;
    color: #fff;
}